@import "compass/css3/transform";

/** Cubify SCSS Mixin:
Side faces are darkened() to show shading, adjust as needed.
**/
@mixin cubify($width,$height,$depth,$color) {
    width: $width;
    height: $height;
    background: $color;
    position: relative;
    opacity: 0.9;
    /* Set up perspective */

    // -webkit-perspective: 1000px;   
    //                 perspective: 1000px;
    @include perspective( 5000px );

    // -webkit-transform-style: preserve-3d;
    //                 transform-style: preserve-3d;
    @include transform-style(preserve-3d);

    /* Optional setting, change for your needs */
    // -webkit-perspective-origin: 0% 0%;
    //                 perspective-origin: 0% 0%;
    @include perspective-origin(50% 50%);

    /* Cube faces */
    .block-face {
        position: absolute;
    }

    .block-face-left {
        width: $depth;
        height: $height;
        background: darken($color, 10%);
        position: absolute;
        right: 100%;
        top: 0;
        @include rotateY(-90deg);
        //@include transform-origin(right);
        // -webkit-transform: rotateY(-90deg);
        //                 transform: rotateY(-90deg);
        -webkit-transform-origin: right;
                        transform-origin: right;
    }
    .block-face-right {
        width: $depth;
        height: $height;
        background: darken($color, 10%);
        position: absolute;
        left: 100%;
        top: 0;
        @include rotateY(90deg);
        //@include transform-origin(left);
        // -webkit-transform: rotateY(90deg);
        //                 transform: rotateY(90deg);
        -webkit-transform-origin: left;
                        transform-origin: left;
    }
    .block-face-top {
        width: $width;
        height: $depth;
        background: darken($color, 10%);
        position: absolute;
        bottom: 100%;
        //@include transform-origin(bottom);
        @include rotateX(90deg);
        // -webkit-transform: rotateX(90deg);
        //                 transform: rotateX(90deg);
         -webkit-transform-origin: bottom;
                         transform-origin: bottom;
    }
    .block-face-bottom {
        width: $width;
        height: $depth;
        background: darken($color, 10%);
        position: absolute;
        top: 100%;
        @include rotateX(-90deg);
       // @include transform-origin(bottom);
        // -webkit-transform: rotateX(-90deg);
        //                 transform: rotateX(-90deg);
        -webkit-transform-origin: top;
                       transform-origin: top;
    }
    
    .block-face-back {
        width: $width;
        height: $height;
        background: darken($color, 20%);
        @include translateZ(-$depth);
        // -webkit-transform: translateZ(-$depth);
        //                 transform: translateZ(-$depth);
    }

    .block-face-front {
        width: $width;
        height: $height;
        background: $color;
        // -webkit-transform: translateZ(-$depth);
        
      }
}